{{> header }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Ferrari</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo voluptate, incidunt quis, natus perspiciatis
            odio maiores labore vero provident dolores unde ab commodi harum reiciendis doloremque nulla. Ratione,
            neque qui!
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/carronumero1.jpeg" class="img-thumbnail">

    </div>
</div>


{{> footer }}